@import "tailwindcss";

:root {
  --fun-brown-primary: #704b4a;
  --fun-brown-light: #ba8478;
  --light: #ffffff;
  --dark: #000;
  --light-primary: #fff7f1;
  --light-secondary: #faeada;
}
/*
  Custom font from https://www.fontspace.com/sunny-spells-font-f68393
*/
@font-face {
  font-family: "fun-font";
  src: url("fonts/fun-font.otf") format("opentype");
}

@font-face {
  font-family: "fredoka";
  src: url("fonts/Fredoka/Fredoka-VariableFont_wdth\,wght.ttf");
}

@theme inline {
  --color-brown-primary: var(--fun-brown-primary);
  --color-brown-secondary: var(--fun-brown-light);
  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-light-primary: var(--light-primary);
  --color-light-secondary: var(--light-secondary);
  --font-fun: "fun-font", sans-serif;
  --font-fredoka: "fredoka", sans-serif;
  --shadow-story-page-card: 6px 6px 1px var(--color-dark);
  --shadow-view-story-card: 1px 1px 2000px;
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  body {
    @apply bg-light-primary text-brown-primary box-border p-0 m-0;
  }
}
